<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330813650595-cj5gkgoo79ejo6bhhpf9hrb3rshdmfr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330813650595-cj5gkgoo79ejo6bhhpf9hrb3rshdmfr1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330813650595-3b0nk5c4vtj7ffu8tdhot3ged40v0mir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkSQ5R2bmnE6gEGQ1dYFoM74sUZ_X4OFc</string>
	<key>GCM_SENDER_ID</key>
	<string>330813650595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>mi-barbershop-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-barbershop-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330813650595:ios:a7fc800e893974872bf116</string>
</dict>
</plist>